@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300&family=Spartan:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.default-text {
  color: rgba(11, 12, 17, 0.9);
  font-size: 9px;
  font-weight: bold;
  letter-spacing: 5.4px;
  font-family: 'Spartan', sans-serif;
}

.nav-items li {
  list-style-type: none;
}

.nav-items-link {
  text-decoration: none;
  margin: 0 25px 0 0;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-property: letter-spacing border;
  transition-property: letter-spacing border;
}

.nav-items-link:hover {
  text-decoration: none;
  letter-spacing: 3px;
  color: rgba(11, 12, 17, 0.9);
  border-bottom: 1px solid black;
  padding: 0 0 3px 0;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.button {
  text-decoration: none;
  border-bottom: 1px solid #5da8ef;
  padding: 0 0 5px 0;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-property: letter-spacing border font-size;
  transition-property: letter-spacing border font-size;
}

.button:hover {
  color: rgba(11, 12, 17, 0.9);
  letter-spacing: 7px;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  text-decoration: none;
}

.active {
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
  -webkit-transition: 0.3s !important;
  transition: 0.3s !important;
}

.activebody {
  overflow: hidden !important;
}

.default-p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  color: rgba(97, 97, 97, 0.65);
}

.logo {
  height: 50px;
  width: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo img {
  height: 100%;
}

.section-title {
  font-size: 42px;
  letter-spacing: 0.42px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

.change .bar1 {
  position: relative;
  top: 2px;
  width: 25px;
  -webkit-transform: rotate(-315deg);
          transform: rotate(-315deg);
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  background-color: white;
}

.change .bar2 {
  position: relative;
  top: -4px;
  width: 25px;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  background-color: white;
}

.section-article {
  padding: 93px 0;
}

.section-article p {
  padding: 45px 0 40px 0;
}

header {
  padding: 40px 0;
}

header .logo {
  z-index: 999;
}

header .nav-items {
  margin: 0 0 0 132px;
}

header .hamburger-button {
  cursor: pointer;
  display: none;
  z-index: 999;
}

header .hamburger-button div {
  width: 30px;
  height: 2px;
  background-color: black;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

header .hamburger-button div:not(:last-child) {
  margin: 0 0 4px 0;
}

.site-nav-mobile {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-color: #5da8ef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  z-index: 998;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.site-nav-mobile::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
}

.site-nav-mobile .nav-items-link {
  font-size: 30px;
  color: white;
}

.home-section {
  width: 100%;
}

.home-section .owl-box {
  position: relative;
  width: 100%;
  height: 572px;
}

.home-section .owl-box figure {
  position: absolute;
  right: 0;
  content: "";
  z-index: -1;
  max-width: 1016px;
  height: 572px;
}

.home-section .owl-box figure img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-section .owl-box article {
  position: absolute;
  content: "";
  z-index: 1;
  max-width: 473px;
}

.home-section .owl-box article .default-text {
  color: rgba(93, 168, 239, 0.9);
}

.home-section .owl-box article .owl-article-title {
  text-shadow: 0px 3px 35px rgba(0, 0, 0, 0.39);
  font-family: 'Playfair Display', serif;
  font-size: 62px;
  font-weight: bold;
}

.home-section .owl-box article .default-p {
  max-width: 360px;
  font-weight: bold;
}

.john-mccarthy {
  padding: 100px 0;
  text-align: center;
}

.john-mccarthy-box {
  max-width: 610px;
  text-align: center;
}

.john-mccarthy-box .john-mccarthy-p {
  font-family: 'Playfair Display' sans-serif;
  font-weight: normal;
  font-size: 26px;
  color: rgba(51, 51, 51, 0.9);
  padding: 0 0 15px 0;
}

.about-surfing {
  padding: 50px 0;
}

.about-surfing article {
  max-width: 336px;
}

.about-surfing article .default-p {
  padding: 59px 0 29px 0;
}

.about-surfing .pic-abso {
  position: absolute;
  right: 0;
  top: 50px;
  max-width: 650px;
}

.about-surfing .pic-abso img {
  width: 100%;
}

.shop-surfboards {
  text-align: center;
  padding: 50px 0;
}

.shop-surfboards .section-title-article {
  padding: 0 0 25px 0;
}

.shop-surfboards .section-title-article .default-text {
  color: #5da8ef;
}

.shop-surfboards .owl-carousel-box {
  max-width: 485px;
  height: 405px;
}

.shop-surfboards .owl-carousel-box figure {
  width: 250px;
  height: 433px;
}

.shop-surfboards .owl-carousel-box figure img {
  height: 100%;
}

.shop-surfboards .owl-carousel-box article {
  text-align: left;
  width: 185px;
}

.shop-surfboards .owl-carousel-box article .shop-title {
  font-size: 12px;
  color: #7a7a7a;
  font-weight: 300;
  letter-spacing: 2.4px;
  font-family: 'Poppins' sans-serif;
}

.shop-surfboards .owl-carousel-box article .first-span {
  font-family: 'Playfair Display',sans-serif;
  font-size: 22px;
  font-weight: normal;
  color: #333333;
}

.shop-surfboards .owl-carousel-box article .price-box {
  padding: 15px 0 0 0;
}

.shop-surfboards .owl-carousel-box article .price-box .price {
  text-align: center;
  font-size: 20px;
  color: #ce60a8;
  font-weight: 300;
}

.shop-surfboards .owl-carousel-box article .price-box .button {
  border: transparent;
  cursor: pointer;
}

.shop-surfboards .owl-carousel-box article .price-box .button:hover {
  border: transparent;
}

.shop-surfboards .button {
  color: black;
}

.surf-training {
  padding: 100px 0;
}

.surf-training figure img {
  width: 100%;
}

.join-the-club article {
  max-width: 600px;
  text-align: center;
  padding: 100px 0;
}

.join-the-club article .default-p {
  padding: 25px 0;
}

.join-the-club article .input-box {
  max-width: 100%;
}

.join-the-club article .input-box input {
  width: 92%;
  height: 50px;
  background-color: #f5f5f5;
  -webkit-box-shadow: inset 0px 1px 2px 0 rgba(0, 0, 0, 0.03);
          box-shadow: inset 0px 1px 2px 0 rgba(0, 0, 0, 0.03);
  padding: 0 0 0 30px;
  outline: none;
  border: 0;
}

.join-the-club article .input-box input::-webkit-input-placeholder {
  color: rgba(11, 12, 17, 0.9);
  font-size: 9px;
  font-weight: bold;
  letter-spacing: 5.4px;
  font-family: 'Spartan', sans-serif;
}

.join-the-club article .input-box input:-ms-input-placeholder {
  color: rgba(11, 12, 17, 0.9);
  font-size: 9px;
  font-weight: bold;
  letter-spacing: 5.4px;
  font-family: 'Spartan', sans-serif;
}

.join-the-club article .input-box input::-ms-input-placeholder {
  color: rgba(11, 12, 17, 0.9);
  font-size: 9px;
  font-weight: bold;
  letter-spacing: 5.4px;
  font-family: 'Spartan', sans-serif;
}

.join-the-club article .input-box input::placeholder {
  color: rgba(11, 12, 17, 0.9);
  font-size: 9px;
  font-weight: bold;
  letter-spacing: 5.4px;
  font-family: 'Spartan', sans-serif;
}

.join-the-club article .input-box .second-button {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #5da8ef;
  font-size: 35px;
  text-decoration: none;
  color: white;
}

.our-camp {
  padding: 50px 0;
}

.our-camp article {
  max-width: 370px;
  margin: 150px 0 0 50px;
}

.our-camp article .default-text {
  color: rgba(11, 12, 17, 0.27);
}

.our-camp article .section-title {
  font-size: 32px;
  padding: 50px 0 50px 50px;
}

.our-camp article .button {
  color: #5da8ef;
}

.our-camp .content-box {
  position: relative;
  width: 100%;
  height: 570px;
}

.our-camp .content-box .img-box-left {
  position: absolute;
  width: calc( 50vw - 15px);
  top: -15px;
  right: -15px;
  bottom: -15px;
}

.our-camp .content-box .img-box-left img {
  background-size: cover;
  width: 100%;
  height: 100%;
}

footer {
  padding: 50px 0;
}

footer article {
  text-align: center;
}

footer article .nav-items {
  padding: 30px 0;
}

footer article .icon-box a {
  text-decoration: none;
}

footer article .icon-box a:not(:last-child) {
  margin: 0 25px 0 0;
}

footer article .icon-box a .icon {
  color: #ebebeb;
  font-size: 20px;
  -webkit-transition: .6s;
  transition: .6s;
}

footer article .icon-box a .icon:hover {
  color: #5da8ef;
  -webkit-transition: .4s;
  transition: .4s;
}

@media screen and (max-width: 500px) {
  footer .nav-items {
    text-align: center !important;
  }
  footer .nav-items ul {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  footer .nav-items ul li {
    margin: 0 0 10px 20px !important;
  }
  footer .nav-items ul li a {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 760px) {
  header .container {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  header .container .logo {
    margin: 0 !important;
  }
  header .container .hamburger-button {
    display: block !important;
    float: right !important;
  }
  header .container .nav-items {
    display: none !important;
  }
  .home-section article {
    margin: 0 !important;
  }
}

@media screen and (max-width: 1200px) {
  .surf-training article {
    padding: 20px 0 !important;
  }
  .pic-abso {
    z-index: -1 !important;
  }
}

@media screen and (max-width: 1000px) {
  .pic-abso {
    display: none !important;
  }
  .point-break figure {
    float: none !important;
    text-align: center !important;
  }
  .our-camp article {
    margin: 100px 0 0 0px;
  }
  .our-camp .content-box .img-box-left {
    width: 100% !important;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .home-section article {
    margin: 0 0 140px 0 !important;
  }
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?j573wm");
  src: url("../fonts/icomoon.eot?j573wm#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?j573wm") format("truetype"), url("../fonts/icomoon.woff?j573wm") format("woff"), url("../fonts/icomoon.svg?j573wm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-vimeo:before {
  content: "\eaa0";
}

.icon-tumblr:before {
  content: "\eab9";
}
/*# sourceMappingURL=main.css.map */