@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300&family=Spartan:wght@700&display=swap');

*{
    margin:0;
    padding: 0;

    // font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}

////////////// COMON CSS ////////////// 

.default-text{
    color: rgba(11, 12, 17, 0.9);
    font-size: 9px;
    font-weight: bold;
    letter-spacing: 5.4px;
    font-family: 'Spartan', sans-serif;
}

.nav-items{

    li{
        list-style-type: none;
    }

    &-link{
        text-decoration: none;
        margin: 0 25px 0 0;
        transition-duration: .4s;
        transition-property: letter-spacing border;
        

        &:hover{
            text-decoration: none;
            letter-spacing: 3px;
            color: rgba(11, 12, 17, 0.9);
            border-bottom: 1px solid black;
            padding: 0 0 3px 0;
            transition-duration: .4s;
        }
    }
}

.button{
    text-decoration: none;
    border-bottom: 1px solid #5da8ef;
    padding: 0 0 5px 0;
    transition-duration: .4s;
    transition-property: letter-spacing border font-size;

    &:hover{
        color: rgba(11, 12, 17, 0.9);
        letter-spacing: 7px;
        transition-duration: .4s;
        text-decoration: none;
    }
}

.active {
    transform: translateY(0) !important;
    transition: 0.3s !important;
}

.activebody{
    overflow: hidden !important;
}

.default-p{
    font-size:14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    color: rgba(97, 97, 97, 0.65);
}

.logo{
    height: 50px;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;

    img{
        height: 100%;
    }
}

.section-title{
    font-size: 42px;
    letter-spacing: 0.42px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;

}

.change .bar1 {
    position: relative;
    top: 2px;
    width: 25px;
    transform: rotate(-315deg);
    transition-duration: .4s;
    background-color: white;
}
  
.change .bar2 {
    position: relative;
    top: -4px;
    width: 25px;
    transform: rotate(315deg);
    transition-duration: .4s;
    background-color: white;
}

.section-article{
    padding: 93px 0;

    p{
        padding: 45px 0 40px 0;
    }
}

////////////// COMON CSS //////////////

header{
    padding: 40px 0;

    .logo{
        z-index: 999;

    }

    .nav-items{
        margin:0 0 0 132px;    
    }

    .hamburger-button{
        cursor: pointer;
        display: none;
        z-index: 999;

        div{
            width: 30px;
            height: 2px;
            background-color: black;
            transition-duration: .4s;

            &:not(:last-child){
                margin: 0 0 4px 0;
            }
        }

    }
}

.site-nav-mobile{
    position: absolute;
    background-size: cover;
    background-position: center;
    background-color: #5da8ef;
    display: flex;
    align-items: center;
    width: 100%;
    height:100%;
    z-index: 998;
    top: 0;
    transform: translateY(-100%);
    transition: 0.4s;

    &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        
    }

    .nav-items-link{
        font-size: 30px;
        color: white;
    }
}

.home-section{
    width: 100%;

    .owl-box{
        position: relative;
        width: 100%;
        height:572px;
        
        figure{
            position: absolute;
            right: 0;
            content: "";
            z-index:-1;
            max-width: 1016px;    
            height: 572px;

            img{
                width: 100%;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        article{
            position: absolute;
            content:"";
            z-index: 1;
            max-width: 473px;

            .default-text{
                color: rgba(93, 168, 239, 0.9);
            }

            .owl-article-title{
                text-shadow: 0px 3px 35px rgba(0, 0, 0, 0.39);
                font-family: 'Playfair Display', serif;
                font-size: 62px;
                font-weight: bold;
            }
            
            .default-p{
                max-width: 360px;
                font-weight: bold;
            }
        }
    }
}

.john-mccarthy{
    padding: 100px 0;
    text-align: center;
    &-box{
        max-width: 610px;
        text-align: center;
        
        .john-mccarthy-p{
            font-family: 'Playfair Display' sans-serif;
            font-weight: normal;
            font-size: 26px;
            color: rgba(51, 51, 51, 0.9);
            padding: 0 0 15px 0;
        }
    
    }
}

.about-surfing{
    padding: 50px 0;

    article{
        max-width: 336px;

        .default-p{
            padding: 59px 0 29px 0;
        }
    }

    .pic-abso{
        position: absolute;
        right: 0;
        top: 50px;
        max-width: 650px;

        img{
            width: 100%;
        }
    }
}

.shop-surfboards{
    text-align:center;
    padding: 50px 0;

    .section-title-article{
        padding: 0 0 25px 0;

        .default-text{
            color: #5da8ef;
        }
    }

    .owl-carousel-box{
        max-width: 485px;
        height: 405px;

        figure{
            width: 250px;
            height: 433px;

            img{
                height: 100%;
            }
        }

        article{
            text-align: left;
            width: 185px;

            .shop-title{
                font-size: 12px;
                color: #7a7a7a;
                font-weight: 300;
                letter-spacing: 2.4px;
                font-family: 'Poppins' sans-serif;
            }

            .first-span{
                font-family:'Playfair Display',sans-serif;
                font-size: 22px;
                font-weight: normal;
                color: #333333;
            }

            .price-box{
                padding: 15px 0 0 0;
                .price{
                    text-align: center;
                    font-size: 20px;
                    color: #ce60a8;
                    font-weight: 300;
                }
    
                .button{
                    border: transparent;
                    cursor: pointer;
                    
                    &:hover{
                        border:transparent;
                    }
                }
            }
        }
    }

    .button{
        color: black;
    }
}

.surf-training{
    padding: 100px 0;

    figure{  

        img{
            width: 100%;
        }
    }
}

.join-the-club{

    article{
        max-width: 600px;
        text-align: center;
        padding: 100px 0;

        .default-p{
            padding: 25px 0;
        }

        .input-box{
            max-width: 100%;

            input{
                width: 92%;
                height: 50px;
                background-color: #f5f5f5;
                box-shadow: inset 0px 1px 2px 0 rgba(0, 0, 0, 0.03);
                padding: 0 0 0 30px;
                outline: none;
                border: 0;


                &::placeholder{
                    color: rgba(11, 12, 17, 0.9);
                    font-size: 9px;
                    font-weight: bold;
                    letter-spacing: 5.4px;
                    font-family: 'Spartan', sans-serif;
                }
            }

            .second-button{
                display: inline-block;
                width: 50px;
                height: 50px;
                background-color: #5da8ef;
                font-size: 35px;
                text-decoration: none;
                color: white;
            }
        }
    }
}

.our-camp{
    padding: 50px 0;
    
    article{
        max-width: 370px;
        margin: 150px 0 0 50px; 

        .default-text{
            color: rgba(11, 12, 17, 0.27);
        }

        .section-title{
            font-size: 32px;
            padding: 50px 0 50px 50px;

        }

        .button{
            color: #5da8ef;

        }
    }

    .content-box{
        position: relative;
        width: 100%;
        height: 570px;
        

        .img-box-left{
            position:absolute;
            width:calc( 50vw - 15px );
            top:-15px;
            right:-15px;
            bottom:-15px;
    
            img{
                background-size: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
}

footer{
    padding: 50px 0;

    article{
        text-align: center;

        .nav-items{
            padding: 30px 0;
        }

        .icon-box{
            
            a{
                text-decoration: none;

                &:not(:last-child){
                    margin: 0 25px 0 0;
                }

                .icon{
                    color: #ebebeb;   
                    font-size: 20px;
                    transition: .6s;

                    &:hover{
                        color: #5da8ef;
                        transition: .4s;
                    }
                }
            }
        }
    }
}


@media screen and(max-width:500px){
    footer{
        
        .nav-items{
            text-align: center !important;

            ul{
                flex-direction: column !important;

                li{
                    margin: 0 0 10px 20px !important;

                    a{
                        font-size: 12px !important;
                    }
                }
            }
        }
    }
}

@media screen and(max-width:760px){
    header{

        .container{
            justify-content: space-between !important;

            .logo{
                margin: 0 !important;
            }

            .hamburger-button{
                display: block !important;
                float: right !important;
            }
    
            .nav-items{
                display: none !important;
            }
        }
    }

    .home-section{
        
        article{
            margin: 0 !important;
        }
    }
    
}

@media screen and(max-width: 1200px){
    .surf-training{
        
        article{
            padding: 20px 0 !important;
        }
    }

    .pic-abso{
        // display: none !important;
        z-index: -1 !important; 
    }
}

@media screen and(max-width: 1000px){
    .pic-abso{
        display: none !important;
    }

    .point-break{

        figure{
            float: none !important;
            text-align: center !important;
        }
    }

    .our-camp{

        article{
            margin: 100px 0 0 0px; 
        }

        .content-box{

            .img-box-left{
                width: 100% !important;
                left: 0;
                top: 0;
                right: 0;
                bottom:0;
            }
        }
    }

    .home-section{
        
        article{
            margin: 0 0 140px 0 !important;
        }
    }
}





@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?j573wm');
    src:  url('../fonts/icomoon.eot?j573wm#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?j573wm') format('truetype'),
      url('../fonts/icomoon.woff?j573wm') format('woff'),
      url('../fonts/icomoon.svg?j573wm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-vimeo:before {
    content: "\eaa0";
  }
  .icon-tumblr:before {
    content: "\eab9";
  }
  