@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

body {
  background-color: black;
}

.home-section {
  padding: 150px 0;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-image: url(../images/moon.jfif);
}

.home-section .logo {
  width: 51.369;
  height: 29.934;
}

.home-section h1 {
  font-size: 14px;
  letter-spacing: 2px;
  padding: 50px 0 10px 0;
}

.home-section h2 {
  font-size: 20px;
  font-weight: 900;
  padding: 0 0 20px 0;
}

.home-section p {
  font-size: 14px;
  text-align: left;
  line-height: 38px;
}

.home-section p .metropol-button {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
  padding: 0 0 3px 0;
}

.home-section p .metropol-button:hover {
  color: #7b0202;
  border: none;
}

.home-section .button {
  padding: 15px 65px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 16px;
  background-color: #AB0202;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.home-section .button:hover {
  -webkit-transition: .4s ease;
  transition: .4s ease;
  background-color: #7b0202;
}

.home-section .button i {
  font-size: 18px;
}

.portfolio-section {
  padding: 100px 0;
}

.portfolio-section h3 {
  letter-spacing: 6px;
  padding: 0 0 50px 0;
}

.portfolio-section .box {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 400px;
  z-index: -1;
  -webkit-transition: .4s;
  transition: .4s;
}

.portfolio-section .box:hover {
  text-decoration: none;
}

.portfolio-section .box:hover h5 {
  opacity: .8;
}

.portfolio-section h5 {
  height: 100%;
  background-color: #AB0202;
  color: white;
  padding-top: 35%;
  font-size: 20px;
  letter-spacing: 5px;
  -webkit-transition: .4s;
  transition: .4s;
  opacity: 0;
  z-index: 2;
}

.portfolio-section .surfing-template-box {
  background-image: url(../images/surfing.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio-section .marketing-templates-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../images/marketing.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio-section .blackmore-apartmens-box {
  background-image: url(../images/blackmore.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio-section .zetta-hotels-box {
  background-image: url(../images/zetta-hotels.png);
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  padding: 50px 0;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul li {
  list-style-type: none;
}

footer ul li i {
  font-size: 18px;
  -webkit-transition: .4s;
  transition: .4s;
}

footer ul li i:hover {
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

footer ul li:not(:last-child) {
  padding: 0 30px 0 0;
}

@media only screen and (max-width: 767px) {
  .home-section {
    padding: 50px 0 50px 0;
  }
  .marketing-templates-box {
    margin: 50px 0 0 0  !important;
  }
  .zetta-hotels-box {
    margin: 50px 0 0 0 !important;
  }
}
/*# sourceMappingURL=main.css.map */