@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.rectangle-box {
  display: inline-block;
  padding: 27px;
  background-color: #5863f8;
}

.section-titles {
  font-size: 14px;
  font-weight: 600;
  color: #5863f8;
}

.section-info-h {
  font-size: 42px;
  font-weight: 800;
  color: #000000;
}

.section-m-p {
  font-size: 14px;
}

.box-info {
  font-weight: 600;
  font-size: 18px;
}

.activebody {
  overflow: hidden;
}

.active {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header {
  position: relative;
  background-image: url(../images/mohamed-ajufaan-GFcWwwGNu_w-unsplash.jpg);
  background-size: cover;
  background-position: 100%;
  width: 100%;
  height: 700px;
  color: #ffffff;
}

header::before {
  position: absolute;
  content: "";
  background-color: black;
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

header nav {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 19px;
}

header nav h1 {
  font-size: 14px;
  font-weight: 600;
}

header nav .links {
  list-style-type: none;
}

header nav .links-item {
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}

header nav .links-item:not(:last-child) {
  margin-right: 50px;
}

header nav .hamburger-button {
  display: none;
  width: 30px;
  cursor: pointer;
}

header nav .hamburger-button .line {
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: white;
}

header article {
  position: relative;
  z-index: 2;
  padding-top: 167px;
}

header article h3 {
  font-size: 62px;
  font-weight: 800;
}

header article p {
  padding-top: 20px;
  font-size: 14px;
}

.site-nav-mobile {
  position: relative;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  left: 0;
  background-size: cover;
  background-position: center;
  background-color: black;
  z-index: 998;
  width: 100%;
  height: 100%;
}

.site-nav-mobile::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}

.site-nav-mobile .links {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-nav-mobile .links-item {
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}

.site-nav-mobile .links-item:not(:last-child) {
  margin: 0 50px 5px 0;
}

.form-section .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
  padding: 40px 42px;
  background-color: white;
}

.form-section .form-container form .row .form-box {
  width: 100%;
  display: -ms-grid;
  display: grid;
}

.form-section .form-container form .row .form-box label {
  font-size: 13px;
  color: #5863f8;
}

.form-section .form-container form .row .form-box input {
  width: 260px;
  height: 50px;
  outline: none;
  border: none;
  background-color: #eeeeee;
  padding-left: 10px;
}

.about-us {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 90px;
}

.about-us a {
  display: inline-block;
  padding: 20px 40px;
  background-color: #5863f8;
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
}

.about-us a:hover {
  text-decoration: none;
  color: white;
}

.about-us .image-box {
  width: 100%;
  height: 185px;
  background-image: url(../images/rhema-kallianpur-jbJ-_hw2yag-unsplash.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.about-us .image-box-1 {
  background-image: url(../images/eddi-aguirre-ZAVHbpOn4Jk-unsplash.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 260px;
}

.about-us-details {
  position: relative;
  background-image: url(../images/chris-lee-70l1tDAI6rM-unsplash.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.about-us-details:before {
  position: absolute;
  content: "";
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: .4;
}

.about-us-details .about-us-content {
  position: relative;
  z-index: 1;
  padding: 90px 0  34px 0;
}

.about-us-details .about-us-content .section-info-h {
  color: white;
}

.about-us-details .owl-carousel-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
  height: 260px;
  background-color: white;
  color: black;
}

.about-us-details .owl-carousel-box .circle {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #5863f8;
  border-radius: 50%;
  margin: 20px 0px 14px 0px;
}

.about-us-details .owl-carousel-box .section-m-p {
  margin-top: 14px;
  color: #b1b1b1;
  font-weight: 500;
}

.testimonials {
  position: relative;
  width: 100%;
  padding: 75px 0 106px 0;
}

.testimonials .customer-box .customer-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials .customer-box .customer-profile-picture {
  width: 57px;
  height: 57px;
  background-image: url(../images/marius-ciocirlan-vMV6r4VRhJ8-unsplash.png);
  border-radius: 20px;
  margin-right: 20px;
}

.testimonials .figure-box {
  height: 450px;
}

.testimonials .figure-box figure {
  background-image: url(../images/rhema-kallianpur-jbJ-_hw2yag-unsplash.png);
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.restaurant {
  padding: 0 0 90px 0;
}

.restaurant article {
  padding: 0 0 50px 0;
}

.restaurant .box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 190px;
  background-color: #f8f8f8;
  margin-bottom: 20px;
}

.restaurant .box figure {
  background-image: url(../images/victoria-shes-UC0HZdUitWY-unsplash.png);
  background-repeat: no-repeat;
  width: 30%;
  height: 100%;
  background-size: cover;
}

.restaurant .box .picture-two {
  background-image: url(../images/sheelah-brennan-UaeVmc51Ttw-unsplash.png);
  background-repeat: no-repeat;
  width: 30%;
  height: 100%;
  background-size: cover;
}

.restaurant .box article {
  padding: 0 0 0 16px;
}

.restaurant .box article .section-m-p {
  padding: 7px 0 0 0;
  color: #b1b1b1;
}

.restaurant .box article a {
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
  padding: 27px;
  background-color: #5863f8;
}

.blog article:not(:last-child) {
  padding: 0 0 50px 0;
}

.blog .box {
  background-color: #f8f8f8;
  width: 100%;
  height: 360px;
  margin: 15px 0 0 0;
}

.blog .box figure {
  background-image: url(../images/vicky-sim-mj51pZwan9c-unsplash.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 55%;
}

.blog .box .picture-two {
  background-image: url(../images/victoria-shes-UC0HZdUitWY-unsplash.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 55%;
}

.blog .box .picture-three {
  background-image: url(../images/sheelah-brennan-UaeVmc51Ttw-unsplash.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 55%;
}

.blog .box article {
  text-align: center;
}

.blog .box article p {
  color: #b1b1b1;
  padding: 10px 0 0 0;
}

.photos article {
  padding: 90px 0 50px 0;
}

.photos .figure-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 352px;
}

.photos .figure-box figure {
  background-image: url(../images/mohamed-ajufaan-GFcWwwGNu_w-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 25%;
  height: 100%;
}

.photos .figure-box figure:nth-child(1) {
  background-image: url(../images/manuel-moreno-DGa0LQ0yDPc-unsplash.png);
}

.photos .figure-box figure:nth-child(2) {
  background-image: url(../images/rhema-kallianpur-jbJ-_hw2yag-unsplash.png);
}

.photos .figure-box figure:nth-child(3) {
  background-image: url(../images/eddi-aguirre-ZAVHbpOn4Jk-unsplash.png);
}

@media screen and (max-width: 900px) {
  .photos .figure-box {
    -webkit-box-orient: vertical  !important;
    -webkit-box-direction: normal  !important;
        -ms-flex-direction: column  !important;
            flex-direction: column  !important;
    height: 900px !important;
  }
  .photos .figure-box figure {
    width: 50% !important;
  }
}

footer {
  padding: 90px 0;
  background-color: #121212;
  color: white;
  width: 100%;
}

footer article {
  width: 260px;
}

footer article h1 {
  font-size: 24px;
}

footer article p {
  margin: 20px 0;
  color: #b1b1b1;
}

footer ul {
  margin-top: 16px;
}

footer ul li {
  display: -ms-grid;
  display: grid;
  list-style-type: none;
}

footer ul li a {
  text-decoration: none;
  color: #5863f8;
}

footer ul li a:not(:last-child) {
  margin-bottom: 7px;
}

@media screen and (max-width: 500px) {
  .form-section .form-container {
    -webkit-box-orient: vertical  !important;
    -webkit-box-direction: normal  !important;
        -ms-flex-direction: column  !important;
            flex-direction: column  !important;
  }
  .form-section .form-container a {
    margin-top: 10px !important;
  }
  .boxes {
    display: none !important;
  }
}

@media screen and (max-width: 740px) {
  .nav-items {
    display: none !important;
  }
  .hamburger-button {
    display: inline-block !important;
  }
}
/*# sourceMappingURL=main.css.map */