@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Marcellus', serif;
}

body {
  background-color: #1F1F1F !important;
}

.section-p {
  font-size: 14px;
  margin: 15px 0 25px 0;
}

.section-title {
  font-size: 48px;
}

.bigger-p {
  font-size: 64px;
}

.active {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
  -webkit-transition: 0.3s !important;
  transition: 0.3s !important;
}

.activebody {
  overflow: hidden;
}

.button {
  text-decoration: none;
  font-size: 13px;
  color: white;
  padding: 10px 32px;
  border: 1px white solid;
  font-family: 'Montserrat', sans-serif;
}

.button:hover {
  text-decoration: none;
  color: white;
  border: none;
  background-color: #313131;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav h1 {
  font-size: 16px;
}

header nav ul li {
  list-style-type: none;
  padding: 22px 0 0 0;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 0 0 2px 0;
}

header nav ul li a:not(:last-child) {
  margin: 0 64px 0 0;
}

header nav ul li a:hover {
  border-bottom: 1px white solid;
  text-decoration: none;
  color: white;
}

header nav .hamburger-button {
  width: 30px;
  height: 15px;
  cursor: pointer;
  display: none;
  margin: 20px 0 0 0;
}

header nav .hamburger-button .bar {
  width: 100%;
  height: 2px;
  background-color: white;
}

header nav .hamburger-button .bar:not(:last-child) {
  margin: 0 0 6px 0;
}

.site-nav-mobile {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-color: #1F1F1F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  z-index: 998;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.site-nav-mobile::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #1F1F1F;
  opacity: 0.3;
}

.site-nav-mobile ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  padding: 22px 0 0 0;
}

.site-nav-mobile ul li a {
  text-decoration: none;
  color: white;
  font-size: 35px;
  padding: 25px 0 2px 0;
  z-index: 998;
}

.site-nav-mobile ul li a:not(:last-child) {
  margin: 0 0 10px 0;
}

.site-nav-mobile ul li a:hover {
  border-bottom: 1px white solid;
  text-decoration: none;
  color: white;
}

.home-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home-section .bigger-p {
  margin: 65px 0 15px 0;
}

.home-section figure {
  width: 100%;
  height: 500px;
  margin: 40px 0 0 0;
}

.home-section figure img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.location-section {
  width: 100%;
  margin: 50px 0 0 0;
}

.location-section article {
  max-width: 400px;
  margin: 200px 0 0 0;
}

.location-section article .section-p {
  text-align: left;
  word-spacing: 7px;
  padding: 50px 0 20px 0;
}

.location-section .content-box {
  position: relative;
  width: 100%;
  height: 570px;
}

.location-section .content-box .img-box-right {
  position: absolute;
  width: calc( 50vw - 15px);
  top: -15px;
  left: -15px;
  bottom: -15px;
}

.location-section .content-box .img-box-right img {
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.apartmens-section {
  margin: 100px 0 0 0;
}

.apartmens-section article {
  max-width: 400px;
  margin: 200px 0 0 50px;
}

.apartmens-section article .section-p {
  text-align: left;
  word-spacing: 7px;
  padding: 50px 0 20px 0;
}

.apartmens-section .content-box {
  position: relative;
  width: 100%;
  height: 570px;
}

.apartmens-section .content-box .img-box-left {
  position: absolute;
  width: calc( 50vw - 15px);
  top: -15px;
  right: -15px;
  bottom: -15px;
}

.apartmens-section .content-box .img-box-left img {
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.box-article {
  margin: 60px 0 0 0;
}

.box-article p {
  font-size: 56px;
  text-align: center;
}

.box-article p span {
  font-size: 28px;
}

.apartment-details h3 {
  font-size: 40px;
}

.apartment-details figure:nth-child(1) {
  width: 100%;
}

.apartment-details figure:nth-child(1) img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: contain;
     object-fit: contain;
}

.apartment-details p a {
  text-decoration: underline;
  color: white;
  font-size: 14px;
}

.apartment-details p a:hover {
  text-decoration: underline;
  color: white;
  font-size: 14px;
}

.apartment-details article {
  max-width: 391px;
}

.images-gallery figure {
  width: 100%;
  height: 495px;
}

.images-gallery figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.images-gallery .diff-figure {
  width: 100%;
  height: 750px;
}

.block-section {
  text-align: center;
  background-color: #D8A497;
  height: 450px;
}

.block-section .bigger-p {
  margin: 60px 0;
}

.block-section .button:hover {
  background-color: #d8b1a7;
}

footer ul {
  padding: 70px 0;
}

footer ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
}

footer ul li a {
  text-decoration: underline;
  color: white;
  font-size: 40px;
}

footer ul li a:not(:last-child) {
  margin: 0 0 10px 0;
}

footer ul li a:hover {
  color: white;
  text-decoration: underline;
}

footer .icon-box {
  margin: 0 0 20px 0;
}

footer .icon-box i {
  cursor: pointer;
  font-size: 20px;
  color: white;
}

footer .icon-box i:not(:last-child) {
  margin: 0 20px 0 0;
}

@media screen and (max-width: 768px) {
  .apartment-details-box {
    margin: 20px 0 0 0 !important;
  }
  .hamburger-button {
    display: block !important;
  }
  nav a {
    display: none !important;
  }
  .block-section .bigger-p {
    font-size: 50px;
  }
  .location-section .content-box .img-box-right {
    width: 100% !important;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .apartmens-section .content-box .img-box-left {
    width: 100% !important;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .apartmens-section .content-box article {
    margin: 0 !important;
  }
}

@media screen and (max-width: 570px) {
  .home-section .bigger-p {
    font-size: 40px !important;
  }
  .home-section .section-p {
    font-size: 12px !important;
  }
  .box-article p {
    font-size: 35px !important;
  }
  .block-section .bigger-p {
    font-size: 30px !important;
  }
}

@media screen and (max-width: 370px) {
  .home-section .bigger-p {
    font-size: 30px !important;
  }
}
/*# sourceMappingURL=main.css.map */