@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Lato&family=Lobster&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  // font-family: 'Dosis', sans-serif;
  // font-family: 'Lato', sans-serif;
  // font-family: 'Lobster', cursive;
  font-family: "Poppins", sans-serif;
}

//////////////////   //////////////////

.default-p {
  font-size: 16px;
  font-weight: 300;
  color: #7a839e;
  text-align: left;
}

.button {
  display: inline-block;
  position: relative;
  padding: 10px 25px;
  text-decoration: none;
  color: white;
  border-radius: 50px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(100%, #6156f9),
    color-stop(50%, #1a129f)
  );
  transition: all 0.3s;

  &:hover {
    text-decoration: none;
    color: white;
    transform: scale(1.1, 1.1);
    letter-spacing: 1.1px;
    // background: linear-gradient(to right, #6156f9 50%, #1a129f 100%);
    transition: all 0.5s;
  }
}

.section-title-two {
  font-size: 50px;
  color: #42495b;
  font-weight: bold;
}

.section-title {
  font-size: 20px;
  font-family: 'lato', sans-serif;
  color: #7e76f9;
  font-weight: normal;
}

.nav-items {
  li {
    list-style-type: none;

    a {
      font-size: 16px;
      text-decoration: none;
      color: white;
      font-weight: 400;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.active {
  transform: translateX(0) !important;
  transition: 0.3s;
}

.change-color{
    color: white !important;
    transition: 0.3s;
}

.change .bar1 {
  position: relative;
  top: 2px;
  width: 25px;
  transform: rotate(-45deg);
}

.change .bar2 {
  position: relative;
  top: -6px;
  width: 25px;
  transform: rotate(45deg);
}

.activebody {
  overflow: hidden;
}

//////////////////   //////////////////
header {
  position: absolute;
  width: 100%;
  z-index: 999;

  .logo-box {
    
    figure {
      width: 96px;
      height: 107px;

      img {
        width: 100%;
        background-size: cover;
      }
    }

    h1 {
      color: #484848;
      font-size: 40px;
      font-weight: bold;
      font-family: "Dosis", sans-serif;
    }
  }

  nav {

    .hamburger-button{
      display: none;
      cursor: pointer;

      div{ 
        width: 30px;
        height: 2px;
        background-color: #1A129F;
        margin: 6px 0;
        transition: .4s;
      }
    }
  }
}

.site-nav-mobile{
  position: absolute;
  background-size: cover;
  background-position: center;
  background-image: url(../img/home-section-bg.png);
  width: 100%;
  height: 100%;
  z-index: 998;
  left: 0;
  transform: translateX(-100%);
  transition: 0.4s;

  &:before {
    position: absolute;
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
  }

  .nav-items{
        position: relative;
        justify-content: center;
        display: grid;
        padding-top: 50%;

        .link-items{
          font-size: 30px;
        }
    
  }
  
}

.home-section {
  position: relative;
  padding: 65px 0;
  height: 100%;
  background-image: url(../img/home-bg.png);
  background-size: contain;
  background-repeat: no-repeat;

  

  article {
    padding: 150px 0 100px 0;
    max-width: 547px;

    h3 {
      font-size: 50px;
      font-weight: normal;
      color: #42495b;
      text-align: left;

      span {
        font-size: 68px;
        font-weight: bold;
      }
    }

    .default-p {
      max-width: 361px;
    }
  }

  .mouse-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 10px 20px 0 rgba(126, 118, 249, 0.16);
    background-color: #ffffff;

    .mouse {
      position: relative;
      width: 27.5px;
      height: 41.3px;
      border-radius: 15px;
      border: 1px solid #7e76f9;

      &-click {
        position: absolute;
        width: 2px;
        height: 7px;
        background-color: #7e76f9;
        border-radius: 50px;
        animation-name: mouse-click;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
    }
  }
}

.biography-section {
  margin: 100px 0 0 0;

  .content-box {
    position: relative;
    width: 100%;
    height: 600px;

    .img-box-left {
      position: absolute;
      width: calc(36vw - 15px);
      top: 0px;
      right: 0px;
      bottom: 0px;

      img {
        background-size: cover;
        width: 100%;
      }
    }
  }

  .bg-box {
    width: 100%;
    height: 100%;
    background-image: url(../img/bio-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;

    article {
      .default-p {
        margin: 15px 0;
      }
    }
  }
}

.our-services {
  width: 100%;
  height: auto;
  background-image: url(../img/our-services-bg.png);
  background-size: cover;
  background-repeat: no-repeat;

  h3{
      font-size: 25px;
      color: #7e76f9;
      font-family: 'lato', sans-serif;
  }

  .box {
    position: relative;
    text-align: center;
    color: #42495b;
    background-color: white;
    padding: 30px 0;
    width: 100%;
    height: 100%;
    border-radius: 36px;
    box-shadow: 0 10px 20px 0 rgba(126, 118, 249, 0.1);

    figure {
      width: 100%;
      height: 90px;

      img {
        width: 90px;
        height: 100%;
      }
    }

    article {
      padding: 0 30px;
      margin: 20px 0 10px 0;
      height: 200px;

      .box-title {
        text-align: left;
        font-size: 18px;
        font-weight: bold; 
      }

      .box-p {
        text-align: left;
        font-family: "Lato", sans-serif;
        font-size: 15px;
        font-weight: normal;
      }
    }
    .button{
      margin: 0 40px 0 0;
    }
  }
}

.pricing-section{
  padding: 100px 0;
  text-align: center;
  width: 100%;
  background-color: #ECEBFE;

  article{
    margin: 0 0 30px 0;
  }

  .price-box{
    max-width: 340px;
    max-height: 463px;
    text-align:center;
    padding: 30px;
    border-radius: 26px;
    box-shadow: 0 10px 20px 0 rgba(126, 118, 249, 0.16);
    background-color: white;

    .owl-title{
      font-family: 'lato', sans-serif;
      font-size: 28px;
      color: #42495b;
    }

    .default-p{
      padding: 69px 0 0 0;
    }

    .price{
      font-size: 30px;
      padding: 36px 0 40px 0;
      font-weight: 600;
      color: #1000ff;
    }
  }
}

.newsletter-section{
  padding: 100px 0;

  article{
    text-align: center;
    p{
      font-size: 32px;
      color: #42495b;
    }

    .input-box{
      
      input{
        width: 430px;
        height: 52px;
        padding: 0 0 0 10px;
        margin: 0 20px 0 0;
        outline: none;
        border: none;
        background-color: #f6f7fb;

        &::placeholder{
          font-size: 16px;
          font-family: 'poppins' sans-serif;
          color: #999999;
        }
      }
    }
  }
}

footer{
  color: white;
  padding: 15% 0 4%;
  background: url(../img/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

  a{
    text-decoration: none;
    color: white;

    &:hover{
      text-decoration: none;
      color: white;
    }
  }

  p{
    margin: 0;
  }
  
  h4{
    font-size: 50px;
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
  }

  .footer-stay-p{
    padding: 25px 0;
    font-size: 31px;
    font-weight: 500;
  }

  .icons-box{

    i{
      font-size:  20px;
    }
  }

}

@media screen and(max-width: 400px){
  
  .home-section{

    h3 {
      font-size: 35px !important;

      span {
        font-size: 50px !important;
      }
    }
  }

  footer{

    .col-md-3{

      &:nth-child(4){
        margin-top: 20px !important;
      }
    }
  }
}

@media screen and(max-width: 768px) {
  .img-box-left {
    width: 100% !important;
  }

  .input-box{
    input{
      width: 100% !important;
    }

    .button{
      margin-top: 15px !important;
    }
  }

  footer{
    background-image: none !important;
    background-color: #1A129F !important;

    .col-md-3{

      &:nth-child(1){
        margin-bottom: 30px;
      }

      &:nth-child(2){
        margin-bottom: 30px;
      }
    }
  }

  header{

    li{
      display: none !important;
    }

    .hamburger-button{
      display: inline-block !important;
    }
  }
}

@keyframes mouse-click {
  0% {
    top: 0;
  }

  100% {
    top: 34px;
  }
}






@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?osrj6j');
  src:  url('../fonts/icomoon.eot?osrj6j#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?osrj6j') format('truetype'),
    url('../fonts/icomoon.woff?osrj6j') format('woff'),
    url('../fonts/icomoon.svg?osrj6j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-brands:before {
  content: "\e900";
}
.icon-twitter-brands:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e947";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-instagram:before {
  content: "\ea92";
}
