@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Lato&family=Lobster&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.default-p {
  font-size: 16px;
  font-weight: 300;
  color: #7a839e;
  text-align: left;
}

.button {
  display: inline-block;
  position: relative;
  padding: 10px 25px;
  text-decoration: none;
  color: white;
  border-radius: 50px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #6156f9), color-stop(50%, #1a129f));
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover {
  text-decoration: none;
  color: white;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  letter-spacing: 1.1px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.section-title-two {
  font-size: 50px;
  color: #42495b;
  font-weight: bold;
}

.section-title {
  font-size: 20px;
  font-family: 'lato', sans-serif;
  color: #7e76f9;
  font-weight: normal;
}

.nav-items li {
  list-style-type: none;
}

.nav-items li a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.nav-items li a:hover {
  text-decoration: none;
}

.active {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.change-color {
  color: white !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.change .bar1 {
  position: relative;
  top: 2px;
  width: 25px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.change .bar2 {
  position: relative;
  top: -6px;
  width: 25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.activebody {
  overflow: hidden;
}

header {
  position: absolute;
  width: 100%;
  z-index: 999;
}

header .logo-box figure {
  width: 96px;
  height: 107px;
}

header .logo-box figure img {
  width: 100%;
  background-size: cover;
}

header .logo-box h1 {
  color: #484848;
  font-size: 40px;
  font-weight: bold;
  font-family: "Dosis", sans-serif;
}

header nav .hamburger-button {
  display: none;
  cursor: pointer;
}

header nav .hamburger-button div {
  width: 30px;
  height: 2px;
  background-color: #1A129F;
  margin: 6px 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.site-nav-mobile {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-image: url(../img/home-section-bg.png);
  width: 100%;
  height: 100%;
  z-index: 998;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.site-nav-mobile:before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}

.site-nav-mobile .nav-items {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  padding-top: 50%;
}

.site-nav-mobile .nav-items .link-items {
  font-size: 30px;
}

.home-section {
  position: relative;
  padding: 65px 0;
  height: 100%;
  background-image: url(../img/home-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.home-section article {
  padding: 150px 0 100px 0;
  max-width: 547px;
}

.home-section article h3 {
  font-size: 50px;
  font-weight: normal;
  color: #42495b;
  text-align: left;
}

.home-section article h3 span {
  font-size: 68px;
  font-weight: bold;
}

.home-section article .default-p {
  max-width: 361px;
}

.home-section .mouse-box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-box-shadow: 0 10px 20px 0 rgba(126, 118, 249, 0.16);
          box-shadow: 0 10px 20px 0 rgba(126, 118, 249, 0.16);
  background-color: #ffffff;
}

.home-section .mouse-box .mouse {
  position: relative;
  width: 27.5px;
  height: 41.3px;
  border-radius: 15px;
  border: 1px solid #7e76f9;
}

.home-section .mouse-box .mouse-click {
  position: absolute;
  width: 2px;
  height: 7px;
  background-color: #7e76f9;
  border-radius: 50px;
  -webkit-animation-name: mouse-click;
          animation-name: mouse-click;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.biography-section {
  margin: 100px 0 0 0;
}

.biography-section .content-box {
  position: relative;
  width: 100%;
  height: 600px;
}

.biography-section .content-box .img-box-left {
  position: absolute;
  width: calc(36vw - 15px);
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.biography-section .content-box .img-box-left img {
  background-size: cover;
  width: 100%;
}

.biography-section .bg-box {
  width: 100%;
  height: 100%;
  background-image: url(../img/bio-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.biography-section .bg-box article .default-p {
  margin: 15px 0;
}

.our-services {
  width: 100%;
  height: auto;
  background-image: url(../img/our-services-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.our-services h3 {
  font-size: 25px;
  color: #7e76f9;
  font-family: 'lato', sans-serif;
}

.our-services .box {
  position: relative;
  text-align: center;
  color: #42495b;
  background-color: white;
  padding: 30px 0;
  width: 100%;
  height: 100%;
  border-radius: 36px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(126, 118, 249, 0.1);
          box-shadow: 0 10px 20px 0 rgba(126, 118, 249, 0.1);
}

.our-services .box figure {
  width: 100%;
  height: 90px;
}

.our-services .box figure img {
  width: 90px;
  height: 100%;
}

.our-services .box article {
  padding: 0 30px;
  margin: 20px 0 10px 0;
  height: 200px;
}

.our-services .box article .box-title {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.our-services .box article .box-p {
  text-align: left;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: normal;
}

.our-services .box .button {
  margin: 0 40px 0 0;
}

.pricing-section {
  padding: 100px 0;
  text-align: center;
  width: 100%;
  background-color: #ECEBFE;
}

.pricing-section article {
  margin: 0 0 30px 0;
}

.pricing-section .price-box {
  max-width: 340px;
  max-height: 463px;
  text-align: center;
  padding: 30px;
  border-radius: 26px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(126, 118, 249, 0.16);
          box-shadow: 0 10px 20px 0 rgba(126, 118, 249, 0.16);
  background-color: white;
}

.pricing-section .price-box .owl-title {
  font-family: 'lato', sans-serif;
  font-size: 28px;
  color: #42495b;
}

.pricing-section .price-box .default-p {
  padding: 69px 0 0 0;
}

.pricing-section .price-box .price {
  font-size: 30px;
  padding: 36px 0 40px 0;
  font-weight: 600;
  color: #1000ff;
}

.newsletter-section {
  padding: 100px 0;
}

.newsletter-section article {
  text-align: center;
}

.newsletter-section article p {
  font-size: 32px;
  color: #42495b;
}

.newsletter-section article .input-box input {
  width: 430px;
  height: 52px;
  padding: 0 0 0 10px;
  margin: 0 20px 0 0;
  outline: none;
  border: none;
  background-color: #f6f7fb;
}

.newsletter-section article .input-box input::-webkit-input-placeholder {
  font-size: 16px;
  font-family: 'poppins' sans-serif;
  color: #999999;
}

.newsletter-section article .input-box input:-ms-input-placeholder {
  font-size: 16px;
  font-family: 'poppins' sans-serif;
  color: #999999;
}

.newsletter-section article .input-box input::-ms-input-placeholder {
  font-size: 16px;
  font-family: 'poppins' sans-serif;
  color: #999999;
}

.newsletter-section article .input-box input::placeholder {
  font-size: 16px;
  font-family: 'poppins' sans-serif;
  color: #999999;
}

footer {
  color: white;
  padding: 15% 0 4%;
  background: url(../img/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: none;
  color: white;
}

footer p {
  margin: 0;
}

footer h4 {
  font-size: 50px;
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
}

footer .footer-stay-p {
  padding: 25px 0;
  font-size: 31px;
  font-weight: 500;
}

footer .icons-box i {
  font-size: 20px;
}

@media screen and (max-width: 400px) {
  .home-section h3 {
    font-size: 35px !important;
  }
  .home-section h3 span {
    font-size: 50px !important;
  }
  footer .col-md-3:nth-child(4) {
    margin-top: 20px !important;
  }
}

@media screen and (max-width: 768px) {
  .img-box-left {
    width: 100% !important;
  }
  .input-box input {
    width: 100% !important;
  }
  .input-box .button {
    margin-top: 15px !important;
  }
  footer {
    background-image: none !important;
    background-color: #1A129F !important;
  }
  footer .col-md-3:nth-child(1) {
    margin-bottom: 30px;
  }
  footer .col-md-3:nth-child(2) {
    margin-bottom: 30px;
  }
  header li {
    display: none !important;
  }
  header .hamburger-button {
    display: inline-block !important;
  }
}

@-webkit-keyframes mouse-click {
  0% {
    top: 0;
  }
  100% {
    top: 34px;
  }
}

@keyframes mouse-click {
  0% {
    top: 0;
  }
  100% {
    top: 34px;
  }
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?osrj6j");
  src: url("../fonts/icomoon.eot?osrj6j#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?osrj6j") format("truetype"), url("../fonts/icomoon.woff?osrj6j") format("woff"), url("../fonts/icomoon.svg?osrj6j#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-brands:before {
  content: "\e900";
}

.icon-twitter-brands:before {
  content: "\e902";
}

.icon-phone:before {
  content: "\e942";
}

.icon-envelop:before {
  content: "\e945";
}

.icon-location:before {
  content: "\e947";
}

.icon-google-plus:before {
  content: "\ea8b";
}

.icon-instagram:before {
  content: "\ea92";
}
/*# sourceMappingURL=main.css.map */